<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <title> AskMe project </title>

</head>

<body>
<div class="container-fluid" >
  <nav class="row navbar navbar-expand-md navbar-dark bg-dark">
    <a class="col-3 navbar-brand" href="/">AskMe</a>
    <div class="col-9 d-flex justify-content-end">


      <form th:method="GET" th:action="@{/login}" class="form-inline">
        <input class="form-control mr-2" type="text" placeholder="Search" aria-label="Search">
        <input class="btn btn-secondary" type="submit" value="Search"/>
      </form>

      <div sec:authorize="!isAuthenticated()">
        <form th:method="GET" th:action="@{/login}">
          <input class="btn btn-primary ml-5" type="submit" value="LogIn"/>
        </form>
      </div>

      <div sec:authorize="!isAuthenticated()">
        <form th:method="GET" th:action="@{/register}">
          <input class="btn btn-primary ml-2" type="submit" value="Register"/>
        </form>
      </div>
      <div align="right" class="col-3 navbar-brand" sec:authorize="isAuthenticated()">
        <div sec:authentication="name" ></div>
      </div>
      <form th:method="GET" th:action="@{/logout}" sec:authorize="isAuthenticated()">
        <input class="btn btn-primary ml-5" type="submit" value="Logout"/>
      </form>

  </nav>
</div>
 
<main role="main" class="container">

 <div class="container mt-4 mx-3">
    <div class="row">
      <div class="col-10">
        <h3 style="margin-bottom: 15px;">New question</h3>


        <form th:method="POST" th:action="@{/ask}" th:object="${newQuestion}" class="needs-validation" novalidate>

          <div class="form-group row">
            <label class="col-sm-1 col-form-label">Title</label>
            <div class="col-sm-10">
              <input th:field="*{title}" class="form-control" id="title" placeholder="Enter title question" maxlength="100" required>
            </div>
          </div>
       
          <div class="form-group row">
            <label class="col-sm-1 col-form-label">Text</label>
            <div class="col-sm-10">
              <textarea th:field="*{body}"v class="form-control" id="body" rows="4" placeholder="Enter question" maxlength="1000" required></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-1 col-form-label">Tags</label>
            <div class="col-sm-10">
              <input th:field="*{tag}" class="form-control" id="tag" placeholder="Enter tags" maxlength="100" required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-1 col-form-label">Author</label>
            <div class="col-sm-1 col-form-label" sec:authentication="name">
              <input th:field="*{author}" class="form-control" id="author" placeholder="Enter tags" maxlength="100" required>
            </div>
          </div>


          <input class="btn btn-primary" type="submit" value="Ask"/>

        </form>
        <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
          </script>    
        

      </div>
      <div class="col-2 d-none d-sm-none d-md-block">
        <div class="row" style="min-height: 50px;"></div>
        <div class="row">
          <h4>Popular tags</h4>
          <h5>
            <p><a href="index.html" class="text-primary">C/C++   </a> 
             <a href="index.html" class="text-secondary">Python </a> 
             <a href="index.html" class="text-success">JavaScript </a>
             <a href="index.html" class="text-danger">Web </a>
             <a href="index.html" class="text-warning">mail.ru </a>
             <a href="index.html" class="text-info">google </a>
             <a href="index.html" class="text-dark">park </a>
             <a href="index.html" class="text-secondary">C# </a></p>
          </h5>
          
          
        </div>
        <div class="row">
          <h4>Best users</h4> <br>

          <h5>
            <a href="#" class="badge badge-primary">Bob</a>
            <a href="#" class="badge badge-primary">Alisa</a>
            <a href="#" class="badge badge-primary">Mary</a>
            <a href="#" class="badge badge-primary">Jack</a>
            <a href="#" class="badge badge-primary">Nik</a>

          
        </div>

      </div>
    </div>
  </div>

  <!-- tags -->


  </main><!-- /.container -->
  <script src="static/js/jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
</body>

</html>