<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title> AskMe project </title>
</head>

<body>
<div class="container-fluid">
    <nav class="row navbar navbar-expand-md navbar-dark bg-dark">
        <a class="col-3 navbar-brand" href="/">AskMe</a>
        <div class="col-9 d-flex justify-content-end">


            <form th:method="GET" th:action="@{/login}" class="form-inline">
                <input class="form-control mr-2" type="text" placeholder="Search" aria-label="Search">
                <input class="btn btn-secondary" type="submit" value="Search"/>
            </form>


            <form th:method="GET" th:action="@{/login}">
                <input class="btn btn-primary ml-5" type="submit" value="LogIn"/>
            </form>
            <form th:method="GET" th:action="@{/register}">
                <input class="btn btn-primary ml-2" type="submit" value="Register"/>
            </form>
    </nav>
</div>


<main role="main" class="container">

    <div class="container mt-4 mx-3">
        <div class="row">
            <div class="col-10">
                <h3 style="margin-bottom: 15px;">Registration</h3>

                <!------------------------------------------------------------------------------------->

                <form th:method="POST" th:action="@{/register}" th:object="${userForm}" class="needs-validation"
                      novalidate>

                    <!--   <div class="form-row">
                         <div class="col-md-6 mb-3">
                           <label for="name">First name</label>
                           <input type="text" th:field="*{name}" class="form-control" id="name" placeholder=" First name " required>
                           <div class="valid-feedback">
                             Looks good!
                           </div>
                         </div>

                         <div class="col-md-6 mb-3">
                           <label for="surname"> Last name</label>
                           <input type="text" th:field="*{surname}" class="form-control" id="surname" placeholder=" Last name" required>
                           <div class="valid-feedback">
                             Looks good!
                           </div>
                         </div>
                       </div> -->

                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="username">Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                </div>
                                <input type="text" th:field="*{username}" class="form-control" id="username"
                                       placeholder="Username" aria-describedby="inputGroupPrepend" th:errorClass="is-invalid">
                                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="password">Password</label>
                            <input type="password" th:field="*{password}" id="password" class="form-control" placeholder="Password"
                                   aria-describedby="passwordHelpInline" th:errorClass="is-invalid">
                            <small id="passwordHelpInline" class="text-muted">
                                Must be 5-20 characters long.
                            </small>
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
                        </div>
                    </div>


                    <div class="form-group">
                        <p class="py-2">Already have an account? <a href="/login">Sign In</a> </p>
<!--                        <div class="form-check">-->
<!--                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>-->
<!--                            <label class="form-check-label" for="invalidCheck">-->
<!--                                Agree to terms and conditions-->
<!--                            </label>-->
<!--                            <div class="invalid-feedback">-->
<!--                                You must agree before submitting.-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <input class="btn btn-primary" type="submit" value="Create account"/>
                </form>

                <!--========================================================================-->
                <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();


                </script>


            </div>
            <div class="col-2 d-none d-sm-none d-md-block">
                <div class="row" style="min-height: 50px;"></div>
                <div class="row">
                    <h4>Popular tags</h4>
                    <h5>
                        <p><a href="index.html" class="text-primary">C++ </a>
                            <a href="index.html" class="text-secondary">Python </a>
                            <a href="index.html" class="text-secondary">Java</a>
                            <a href="index.html" class="text-success">JavaScript </a>
                            <a href="index.html" class="text-secondary">C# </a></p>
                    </h5>


                </div>
                <div class="row">
                    <h4>Best user:</h4>
                    <h5>
                        <div sec:authorize="isAuthenticated()">
                            <div class="badge badge-primary" sec:authentication="name"></div>
                            </br>
                            </br>
                            <img src="../static/img/shy.gif" th:src="@{/img/shy.gif}" class=" img-thumbnail">
                        </div>

                        <div sec:authorize="!isAuthenticated()">
                            <h6>Log In to find out 🙂</h6>
                        </div>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <!-- tags -->


</main><!-- /.container -->
<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>